# Common
PROJECT_NAME=orchestra-microservices
ENV=local

# RabbitMQ
RABBITMQ_DEFAULT_USER=orchestra
RABBITMQ_DEFAULT_PASS=orchestra
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_MQTT_PORT=1883
RABBITMQ_MANAGEMENT_PORT=15672

# PostgreSQL
POSTGRES_DB=orchestra
POSTGRES_USER=orchestra
POSTGRES_PASSWORD=orchestra
POSTGRES_PORT=5432
DATABASE_URL=postgresql+psycopg://orchestra:orchestra@postgres:5432/orchestra

# Dashboard
DASHBOARD_API_PORT=8000
DASHBOARD_WEB_PORT=3000
